# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.vercel
coverage/base.css
coverage/block-navigation.js
coverage/favicon.png
coverage/index.html
coverage/prettify.css
coverage/prettify.js
coverage/sort-arrow-sprite.png
coverage/sorter.js
coverage/lib/index.html
coverage/lib/rpcMethods.ts.html
coverage/stores/index.html
coverage/stores/index.ts.html
coverage/stores/Logs.ts.html
coverage/stores/Method.ts.html
coverage/stores/RPC.ts.html
coverage/tmp/coverage-1204-1655659468853-2.json
coverage/tmp/coverage-1204-1655659468874-2.json
coverage/tmp/coverage-1204-1655659470159-1.json
coverage/tmp/coverage-1204-1655659470175-1.json
coverage/tmp/coverage-1204-1655659470787-7.json
coverage/tmp/coverage-1204-1655659470822-3.json
coverage/tmp/coverage-1204-1655659470858-4.json
coverage/tmp/coverage-1204-1655659470895-5.json
coverage/tmp/coverage-1204-1655659470932-8.json
coverage/tmp/coverage-1204-1655659470968-12.json
coverage/tmp/coverage-1204-1655659471005-6.json
coverage/tmp/coverage-1204-1655659471044-9.json
coverage/tmp/coverage-1204-1655659471082-10.json
coverage/tmp/coverage-1204-1655659471119-11.json
coverage/tmp/coverage-1204-1655659471156-13.json
